<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
</head>

<body>
    <div class="footerdev">
        <div class="footericons">
            <a><img src="../../../assets/pics/homepage/linked_in.png" height="50px"></a>
            <a><img src="../../../assets/pics/homepage/logo_instagram.png" height="50px"></a>
            <a><img src="../../../assets/"></a>
        </div>
        <div class="footerdev2">
            <img src="../../../assets/pics/homepage/logo.png" height="50px">
            <p>&copy Copyright. All Right's Reserved</p>
        </div>
    </div>
</body>

</html>