$background-color_1: rgb(23, 11, 248);
$background-color_2: rgb(6, 134, 213);

.crd {
	.crdimg {
		background-color: $background-color_1;
	}

	border-radius: 10px;
	border: .5px black solid;
	margin: 30px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) ;

}

.crdimg1 {
	height: 100px;
	width: 100px;
	margin-top: 25px;
	padding: 10px;
	border-radius: 100%;
	align-items: center;
	overflow: hidden;
	

}

.crd1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: 240px;
	margin: 30px;
	border: solid .5px rgb(220, 220, 220, .5);
	
}
.crdimg2 {
	height: 230px;
	padding-top: none;
	margin-top: none;
	border-radius: 8px;
	width: 240px;
}

.crd2 {
	height: 400px;
	width: 300px;
	margin: 40px;


}

.crd3 {
	width: 200px;
	height: fit-content;
	margin: 40px;

}

.crdimg3 {
	height: 300px;
	width: 200px;
	border-radius: 8px;
	overflow: hidden;
	border-radius: 8px;
}

.crdimg4 {
	height: 60%;
	width: auto;
	border-radius: 8px;
	overflow: hidden;
}

.crd4 {
	width: fit-content;
	height: 250px;
	display: flex;
	flex-direction: row;
}

.crdtxt {
	display: flex;
	padding: 20px;
	flex-direction: column;
	word-wrap: normal;
	&.cardtext1 {
		align-items: center;
	}
	&crdtext4 {
		padding: 0;
		box-sizing: border-box;
		width: 200px;
	}



}
.social_media_post {
    display: flex;
	justify-content: center;
}
.crdimg4 {
	// width: 25em;
	height: 50%;
	width: auto;
	overflow: hidden;
	
}
.crd4 {
	width: fit-content;
	height: auto;
	
}
.crdtext5 {
	justify-content: center;
	align-content: center;
	align-self: center;
	display: flex;
	word-wrap: normal;
	margin: 10px;
	transform: translate( 0%, -500%);
	position: relative;
	background-color: rgb(212, 223, 233, .5);
	padding: 5px;
	border-radius: 10px;

}
.crdimg5 {
	background-size: cover;
	overflow: hidden;
	border-radius: 8px;

	
}
.crd5 {
	height: min-content;
	width: 200px;
	padding-bottom: none;
}
.skillcards {
    display: flex;
	align-items: center;
	justify-content: center;

}