<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <div class="crd1 crd">
        <div class="crdimg crdimg1">
            <img="">
        </div>
        <div class="crdtxt cardtext1">
            <h2 class="">title</h2>

            <p>text about img</p>
        </div>
    </div>
    <div class="crd2">
        <div class="crd">
            <div class=" crdimg crdimg2">
                <img="">
            </div>
            <div class="crdtxt">
                <h2>title</h2>
                <p>text about img</p>
            </div>
        </div>
    </div>
    <div class="crd5 crdimg4">
        <div class="crd">
            <div class="">
                <img="">
            </div>
            <div class="crdtext5">
                <!-- <h2>title</h2> -->
                <p>text about img</p>
            </div>
        </div>
    </div>
    <div class="crd3 crd">
        <div class=" crdimg crdimg3">
            <img="">
        </div>
        <div class="crdtxt crdtxt3">
            <h2>title</h2>
            <p>text about img</p>
        </div>
    </div>

    <div class="crd">
        <div class="crd4">
            <div class="crdimg crdimg4">
                <img="">
            </div>
            <div class="crdtxt">
                <h2>title</h2>
                <p>text about img</p>
            </div>
        </div>
    </div>
    <div class="crd4">
        <!-- <div class="crd"> -->
            <div class=" crdimg crdimg4">
                <img="">
            </div>
            <div class="crdtxt crdtext4">
                <h2>title</h2>
                <p>text about img</p>
            </div>
        <!-- </div> -->

</body>

</html>