/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.crd {
  border-radius: 10px;
  margin: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.crd .crdimg {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.crdimg1 {
  height: 100px;
  width: 100px;
  margin-top: 25px;
  padding: 10px;
  border-radius: 100%;
  align-items: center;
  overflow: hidden;
}

.crd1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 240px;
  margin: 30px;
  border: solid 0.5px rgba(220, 220, 220, 0.5);
}

.crdimg2 {
  height: 230px;
  padding-top: none;
  margin-top: none;
  border-radius: 8px;
  width: 240px;
}

.crd2 {
  height: 400px;
  width: fit-content;
  background-color: rgb(239, 247, 255);
  color: navy;
}

.crd3 {
  width: 200px;
  height: fit-content;
  margin: 40px;
  background-color: rgb(255, 255, 255);
}

.crdimg3 {
  height: 300px;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  border-radius: 8px;
}

.crdimg4 {
  height: 60%;
  width: auto;
  border-radius: 8px;
  overflow: hidden;
}

.crd4 {
  width: fit-content;
  height: 250px;
  display: flex;
  flex-direction: row;
}

.crdtxt {
  display: flex;
  padding: 20px;
  flex-direction: column;
  word-wrap: normal;
}
.crdtxt.cardtext1 {
  align-items: center;
}
.crdtxt.crdtext4 {
  padding: 0;
  box-sizing: border-box;
  width: 200px;
}

.social_media_post {
  display: flex;
  justify-content: center;
}

.crdimg4 {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.crd4 {
  width: fit-content;
  height: auto;
}

.crdtext5 {
  justify-content: center;
  align-content: center;
  align-self: center;
  display: flex;
  word-wrap: normal;
  margin: 10px;
  transform: translate(0%, -500%);
  position: relative;
  padding: 5px;
  border-radius: 10px;
}

.crdimg5 {
  background-size: cover;
  overflow: hidden;
  border-radius: 8px;
}

.crd5 {
  height: min-content;
  width: 200px;
  padding-bottom: none;
}

.skillcards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsset {
  display: flex;
  flex-direction: column;
  background-color: navy;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.crd6 {
  display: flex;
  margin-top: none;
  padding-top: none;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: min-content;
}

.crdimg6 {
  flex-basis: 50%;
  max-width: 50%;
  height: auto;
  margin: 0;
}

.crd7 {
  display: flex;
  margin-top: none;
  padding-top: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  width: 450px;
}

.crdtxt7 {
  padding: none;
  align-self: start;
}

.hero-img {
  background-image: url("../../pics/homepage/hero.jpg");
  background-size: cover;
  width: 100vw;
  min-height: 60vh;
  z-index: 0;
}

.hero-text {
  color: rgb(17, 16, 16);
  transform: translate(50px, -300px);
  box-sizing: border-box;
  margin-left: 10px;
  width: 40%;
  font-size: larger;
  padding: 5px;
  background-color: rgba(246, 249, 249, 0.5);
}

/*# sourceMappingURL=style.css.map */
