.alertbanner {
    background-color: lavenderblush;
    display: block;
    display: block;
    padding: 10px;
    width: 100%; /* Change this value to adjust the width of the centered element */
    text-align: center; 

}
