<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../breadcrumbs/breadcrumb.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
    <nav class="breadcrumb">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Web Development</a></li>
          <li>Flexbox</li>
        </ul>
      </nav><!-- .breadcrumb -->
      <nav class="breadcrumb breadcrumb2">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Web Development</a></li>
          <li>Flexbox</li>
        </ul>
      </nav><!-- .breadcrumb2 -->
      <nav class="breadcrumb breadcrumb3">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Web Development</a></li>
          <li>Flexbox</li>
        </ul>
      </nav><!-- .breadcrumb3 -->
      <nav class="breadcrumb breadcrumb4">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Web Development</a></li>
          <li>Flexbox</li>
        </ul>
      </nav><!-- .breadcrumb4 -->
      <nav class="breadcrumb breadcrumb5">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Web Development</a></li>
          <li>Flexbox</li>
        </ul>
      </nav><!-- .breadcrumb5 -->
      <nav class="breadcrumb breadcrumb6">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Web Development</a></li>
          <li>Flexbox</li>
        </ul>
      </nav><!-- .breadcrumb6 -->
</body>
</html>